.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.app {
  min-height: 100vh;
  display: flex;
  font-family: 'proxima_novaregular', sans-serif;
}

.main-content {
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
  flex-grow: 1;
}

.table-purple-header.ant-table thead > tr > th,
.table-purple-header.ant-table-wrapper thead > tr > th {
  background-color: #501D43;
  color: #fff;
}

.page-title {
  font-weight: bolder;
  font-size: 1.6em;
  color: rgba(0, 0, 0, 0.65);
  margin-bottom: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
